* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.signup,
.login,
.forget {
  width: 100%;
  height: 100vh;
  background: #6aafcb;
  /* background: linear-gradient(90deg, rgb(139, 189, 208) 0%, rgba(87, 199, 133, 1) 98%); */
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-signup,
.main-login,
.main-forget {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.sign-form,
.login-form,
.forget-form {
  width: 500px;
  height: fit-content;
  background: whitesmoke;
  padding: 20px;
}

.signup-welcome {
  width: 50%;
  height: 100%;
  object-fit: fill;
}

.signup-welcome img {
  width: 500px;
}

.sign-form h1,
.login-form h1,
.forget-form h1 {
  text-align: center;
  color: #2A7B9B;
  font-size: 45px;
}

.sign-form input,
.login-form input,
.forget-form input {
  width: 100%;
  background: whitesmoke;
  border-radius: 6px;
}

.sign-form .btn,
.login-form .btn,
.forget-form .btn {
  width: 80%;
  height: 35px;
  margin: 10px auto;
  border-radius: 6px;
  text-align: center;
  background: rgb(19, 116, 148);
  color: whitesmoke;
  font-size: 20px;
  display: block;
}

.sign-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 992px) {

  .main-signup,
  .main-login,
  .main-forget {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .sign-form,
  .login-form,
  .forget-form {
    width: 100%;
    height: auto;
    padding: 30px;
  }

  .sign-form h1,
  .login-form h1,
  .forget-form h1 {
    font-size: 35px;
  }

  .sign-form .btn,
  .login-form .btn,
  .forget-form .btn {
    width: 100%;
    margin: 20px 0;
  }
}

/* For mobile phones */
@media (max-width: 600px) {

  .signup,
  .login,
  .forget {
    height: auto;
    padding: 30px 10px;
  }

  .main-signup,
  .main-login,
  .main-forget {
    width: 100%;
    flex-direction: column;
  }

  .sign-form,
  .login-form,
  .forget-form {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .sign-form h1,
  .login-form h1,
  .forget-form h1 {
    font-size: 28px;
  }

  .sign-form input,
  .login-form input,
  .forget-form input {
    height: 35px;
  }

  .sign-form .btn,
  .login-form .btn,
  .forget-form .btn {
    width: 100%;
    font-size: 18px;
  }
}