.product-page {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.filters-section {
  width: 250px;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
}

.cards-section {
  flex: 1;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  gap: 20px;
}
/* product  filter css */
.sidebar {
  width: 250px;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
}

.sidebar h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.filter-section {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.filter-section label {
  margin-bottom: 5px;
  font-weight: 500;
}

.filter-section select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.product-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h4 {
  font-size: 16px;
  margin: 5px 0;
}

.product-card p {
  color: #444;
  font-weight: bold;
}
.product-page {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.filters-section {
  width: 250px;
}

.cards-section {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
